<mat-toolbar class="footer-toolbar">


  <section>
    <button mat-icon-button class="toolbar-svg-button" [matMenuTriggerFor]="mainOptionsMenu">
      <mat-icon>apps</mat-icon>
    </button>


    <mat-menu #mainOptionsMenu="matMenu" class="main-options-menu">
      <button mat-menu-item (click)="goToAdmin()" *ngIf="currentComponent !== pageTypeEnum.ADMIN">
        <mat-icon>home</mat-icon>
        <span>
          Go Admin
        </span>
      </button>

      <button mat-menu-item (click)="goToDrawing()"  *ngIf="selectedSetId && currentComponent !== pageTypeEnum.PRESENTATION">
        <mat-icon>brush</mat-icon>
        <span>
          Go Presentation
        </span>
      </button>

      <button mat-menu-item (click)="goToRecording()"  *ngIf="selectedSetId && currentComponent !== pageTypeEnum.RECORDING">
        <mat-icon>fiber_manual_record</mat-icon>
        <span>
          Go Animation Recording
        </span>
      </button>

      <button mat-menu-item [matMenuTriggerFor]="speedMenu" *ngIf="selectedSetId && selectedStep > 0">
        <mat-icon>speed</mat-icon>
        <span>
          Animation speed
        </span>
      </button>


      <button mat-menu-item (click)="toggleDraw()" *ngIf="currentComponent === pageTypeEnum.PRESENTATION">
        <mat-icon>pan_tool</mat-icon>
        <span>
          Drug mode
        </span>
        <mat-icon *ngIf="currentSelectedDrawAction === drawingActionRequestType.DRAGGING_MODE">check</mat-icon>
      </button>

      <button mat-menu-item (click)="logout()">
        <mat-icon>link_off</mat-icon>
        <span>
          Logoff
        </span>
        <mat-icon *ngIf="currentSelectedDrawAction === drawingActionRequestType.DRAGGING_MODE">check</mat-icon>
      </button>

    </mat-menu>

    <mat-menu #speedMenu="matMenu" class="speed-menu">
      <div mat-menu-item class="slider-container">
        <ng5-slider [(value)]="animationSpeed" [options]="animationSpeedOptions"
                    (valueChange)="animationSpeedChanged()"></ng5-slider>
      </div>
    </mat-menu>

  </section>

  <ng-container [ngTemplateOutlet]="controlsTemplate"></ng-container>


  <section *ngIf="!isAdminMode">
    <button mat-stroked-button class="toolbar-svg-button"
            (click)="selectSet()">
      <img src="assets/toolbar_icons/1-Set_List-01.svg">
    </button>
    <button mat-stroked-button class="toolbar-svg-button" (click)="zoomToAction()">
      <img src="assets/toolbar_icons/2-Zoom_2_Action-01.svg">
    </button>
    <button mat-stroked-button class="toolbar-svg-button" (click)="resetZoom()">
      <img src="assets/toolbar_icons/3-Reset_Zoom-01.svg">
    </button>

    <button mat-stroked-button class="toolbar-svg-button" (click)="toggleScrimmageVisibility()"
            [class.selected-tool]="scrimmageIsOn">
      <img src="assets/toolbar_icons/4-Yellow_Line_V2-01.svg">
    </button>

  </section>

  <section class="play-section">

    <ng-container >
      <div class="slider-container">
        <ng5-slider [(value)]="selectedStep" [options]="animationStepOptions"
                    (valueChange)="animationStepChanged()"></ng5-slider>

      </div>

      <div class="step-control-buttons">
        <button mat-stroked-button class="toolbar-svg-button small"
                matTooltip="Stop Animation" matTooltipClass="toolbar-buttons-tooltip"
                (click)="stop()" [disabled]="selectedStep === 0 || !isPlaying">
          <img src="assets/toolbar_icons/TL_1-Stop-01.svg">
        </button>

        <button mat-stroked-button *ngIf="isAdminMode && currentComponent === pageTypeEnum.RECORDING"
                matTooltip="Record Animation" matTooltipClass="toolbar-buttons-tooltip"
                (click)="record()" class="toolbar-svg-button small"
                [disabled]="(availableSteps === 0)|| isPlaying ||( selectedStep < lastRecordedStep)"
                [style.background-color]="isRecording?'red':''">
          <img src="assets/toolbar_icons/TL_2-Record-01.svg">
        </button>

        <button mat-stroked-button class="toolbar-svg-button small"
                matTooltip="Play Animation" matTooltipClass="toolbar-buttons-tooltip"
                (click)="play()" [disabled]="selectedStep === 0 || isPlaying || selectedStep > lastRecordedStep">
          <img src="assets/toolbar_icons/TL_3-Play-01.svg">
        </button>
      </div>

    </ng-container>

  </section>


  <section>

  </section>


</mat-toolbar>
