<div class="home">


  <div class="field-container" *ngIf="headerTemplate">
    <ng-container [ngTemplateOutlet]="headerTemplate"></ng-container>
  </div>
  <div class="field-container">
    <app-field-main></app-field-main>
  </div>
  <div class="bottom-toolbar-container">
    <app-bottom-toolbar class="app-bottom-toolbar"
                        [currentComponent]="pageType"
                        [controlsTemplate]="drawingsControlsTemplate">

    </app-bottom-toolbar>
  </div>

</div>

<ng-template #drawingsControlsTemplate>
  <section class="drawing-controls-section-template">
    <button mat-stroked-button class="toolbar-svg-button"
            [class.selected-tool]="currentSelectedDrawAction === drawingActionRequestType.FREE_DRAWING"
            (click)="toggleFreeDrawing()">
      <img src="assets/toolbar_icons/6-Reg_Line-01.svg">
    </button>
    <button mat-stroked-button class="toolbar-svg-button"
            [class.selected-tool]="currentSelectedDrawAction === drawingActionRequestType.ARROW_LINE_DRAWING"
            (click)="toggleArrowLineDrawing()">
      <img src="assets/toolbar_icons/6-Arrow_Line-01.svg">
    </button>
    <button mat-stroked-button class="toolbar-svg-button"
            [class.selected-tool]="currentSelectedDrawAction === drawingActionRequestType.LINE_DRAWING"
            (click)="toggleLineDrawing()">
      <img src="assets/toolbar_icons/7-Straight_Line-01.svg">
    </button>
    <button mat-stroked-button class="toolbar-svg-button"
            [class.selected-tool]="currentSelectedDrawAction === drawingActionRequestType.AREA_DRAWING"
            (click)="createArea()">
      <img src="assets/toolbar_icons/9-Action_Area-01.svg">
    </button>

    <button mat-stroked-button #colorOpener class="toolbar-svg-button color-button"
            (click)="selectColor()">
      <div [style.background-color]="selectedColor" class="color-div"></div>
      <!--      <img src="assets/toolbar_icons/8_Color_Frame-01.svg" [style.background-color]="selectedColor">-->
    </button>
    <ng-container *ngIf="colorPaletteIsOpened">
      <button mat-stroked-button *ngFor="let color of getFilteredColorsPalette();index as index"
              class="toolbar-svg-button color-button color-select-button"
              [style.top]="-(index*40) +'px'"
              [style.left]="colorOpener.offsetLeft -5  + 'px'"
              [style.background-color]="'transparent'"
              [style.display]="(color === selectedColor )? 'none' : ''"
              (click)="colorSelected(color,colorOpener)">
        <div [style.background-color]="color" class="color-div"></div>
        <!--        <img src="assets/toolbar_icons/8_Color_Frame-01.svg" [style.background-color]="color">-->
      </button>
    </ng-container>

    <button mat-stroked-button class="toolbar-svg-button"
            (click)="undoLastObject()">
      <img src="assets/toolbar_icons/10-Undo-01.svg">
    </button>

    <button mat-stroked-button class="toolbar-svg-button"
            (click)="resetDrawing()">
      <img src="assets/toolbar_icons/11_Reset-01.svg">
    </button>


  </section>
</ng-template>

