.message-title {
  font-size: 2em;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #3f51b5;
  background-color: #e3f2fd;
  display: flex;
  flex-direction: row;
  padding: 1.4vh 1.5vw;
}


.body-content {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.header {
  padding-left: 4vw;
  margin-right: 1vw;
  flex-grow: 1;
}


h4 {
  margin: 0px;
}

.buttons-container {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
  border-top: #e3f2fd 2px solid;
  width: 100%;
  padding-top: 10px;
}

.dialog-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.close-img {
  border: 2px black solid;

  &:hover {
    cursor: pointer;
    border: 2px white solid;

  }
}

.dialog-button {
  margin-left: 3vw;
}

.input-name {
  height: 5vh;
  font-size: large;
}

::ng-deep {
  .mat-dialog-container {
    padding: unset !important;
  }
}

